<a href="https://colab.research.google.com/github/whym3/100-days-of-Python/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random

number = random.randint(1,2)

if(number%2==0):
    print("Heads")
else:
    print("Tails")

Tails

In [2]:
#Lists

countries = ["India", "USA", "Germany"]
print(countries)
print(countries[1])
print(countries[-1])

countries[1] = "China"   #updating the list
print(countries)

countries.append("Belgium")  #appending an item
print(countries)

candy = ["eclair", "choco", "blueberry"]  #adding two lists
countries.extend(candy)
print(countries)

['India', 'USA', 'Germany']
USA
Germany
['India', 'China', 'Germany']
['India', 'China', 'Germany', 'Belgium']
['India', 'China', 'Germany', 'Belgium', 'eclair', 'choco', 'blueberry']

In [3]:
import random
namesAsCsv = input("Give me evrybody's name")
names = namesAsCsv.split(",")
print("Bill will be paid by : " , names[random.randint(0,len(names))])

Give me evrybody's namea, b, c, d, e, f
Bill will be paid by :   e

In [4]:
#nested lists
fruits = ["apple", "banana", "grapes", "Peaches"]
vegetables = ["Kale", "tomatoes", "onmiom", "potatoes"]
dirty_dozen = [fruits,vegetables]
print(dirty_dozen)

[['apple', 'banana', 'grapes', 'Peaches'], ['Kale', 'tomatoes', 'onmiom', 'potatoes']]

In [5]:
row1 = ["⬜", "⬜", "⬜",]
row2 = ["⬜", "⬜", "⬜",]
row3 = ["⬜", "⬜", "⬜",]
map = [row1, row2, row3]

print(f"{row1}\n{row2}\n{row3}\n")

treasure = input("Where do you want to put the treasure? :  ")
horizontal = int(treasure[0])
vertical = int(treasure[1])

map[horizontal-1][vertical-1] = "T"
print(f"{row1}\n{row2}\n{row3}\n")

['⬜', '⬜', '⬜']
['⬜', '⬜', '⬜']
['⬜', '⬜', '⬜']

Where do you want to put the treasure? :  23
['⬜', '⬜', '⬜']
['⬜', '⬜', 'T']
['⬜', '⬜', '⬜']